/* Navigation css start  */

header {
    background-color: black;
}
#logo {
    width: 70px;
}
.nav-buttons{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 50px;
    align-items: center;
    
}
a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.nav-wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    height: auto;
    display: flex;
    align-items: center;
}

#cart-img {
    width: 50px;
}

.cart-holder {
    position: relative;
}

.test-hidden {
    display: none;
}
.test-showed {
    display: block;
}

#countProducts {
    
    position: absolute;
    background-color: red;
    color: white;
    border-radius: 20px;
    width: 15px;
    padding: 3px 1px 3px 5px;
    right: 37px;
    top: 1px;
}

/* Navigation css end  */

.wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    height: auto;
}



 /*----------------------- Main-menu css start-----------------------  */



#results {
        margin: 20px 0px 70px 0px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 40px;
        justify-items: stretch;
    
}
.searchBox {
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
}
#search {
    display: flex;
    align-self: center;
    min-height: 25px;
    border-radius: 10px;
    width: 45%;
}
#search::placeholder {
    padding-left: 10px;
}



.images {
    width: 100%;
    border-radius: 30px;
}

/* .images:hover {
    scale: 1.03;
} */

.product-description {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    align-items: center;
}

.productName {
    font-size: 2rem;
}
.productPrice {
    font-size: 1.3rem;
}

.card-field {
    margin-top: 10px;
    width: 30%;
}

.card-input-and-Button {
    display: flex;
    justify-content: space-evenly;
    
}

.card-input-and-Button > :last-child {
    cursor: pointer;
    background-color: white;
   
}

 /*----------------------- Main-menu css end-----------------------  */


 /*----------------------- CART-PAGE-CSS-START-----------------------  */
 .empty-cart {
    margin: 30px 0px 0px 0px;
 }

 .empty-cart > :only-child {
    font-size: 2rem;
    display: flex;
    justify-content: center;
 }


 /* table */

 table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

 /* table */